<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile</title>

</head>
<body>
<!--  insert header properties -->
 <div class="mb-3" th:insert="Header2.html"></div>
 
<div class="container-xxl py-5 ">
		<div class="card ">
			<div class="card-header bg-secondary text-white text-center">
				<h4>EditProfile</h4>
				<!-- <p style="color:green">[[${updatemsg}]]</p> -->

			</div>
			<form action="/updateuser" method="post" th:object="${usermodel}" >
				<div class="card-body">
					<div class="row m-2">
						<div class="col-4">Fname</div>
						<div class="col-6">
							<input type="text" th:field="*{fname}"class="form-control">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">Lname</div>
						<div class="col-6">
							<input type="text" th:field="*{lname}"class="form-control">
						</div>
					</div>
					

					<div class="row m-2">
						<div class="col-4">Address</div>
						<div class="col-6">
							<input type="text" th:field="*{address}" class="form-control">
						</div>
					</div>
						<div class="row m-2">
						<div class="col-4">username</div>
						<div class="col-6">
							<input type="text" th:field="*{username}" class="form-control">
						</div>
					</div>
						<div class="row m-2">
						<div class="col-4">Password</div>
						<div class="col-6">
							<input type="text" th:field="*{password}" class="form-control">
						</div>
					</div>
				
					    	
					<div class="row m-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Update" class="btn btn-success">
						</div>
					</div>

				</div>
				<input type="hidden" th:field="*{id}">
			</form>
		</div>

	</div>

</body>
</html>